/* Stile di base del bottone-link */
.items {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-neutral-10);
    text-decoration: none;
    position: relative;
    padding: 10px 15px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
}

/* Pseudo-elementi per i bordi superiore e inferiore */
.items::before,
.items::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--color-positive-5);
    transition: width 0.3s ease-out;
    transform: translateX(-50%);
}

/* Bordo superiore */
.items::before {
    top: 0;
}

/* Bordo inferiore */
.items::after {
    bottom: 0;
}

/* Effetto hover e focus per gli elementi non selezionati */
/* Questo stile si applica sia quando ci passi sopra con il mouse che quando riceve il focus dalla tastiera */
.items:hover,
.items:focus {
    color: var(--color-yellow-5);
    outline: none;
    /* Rimuove l'outline di default, sostituito dai bordi animati */
}

/* Animazione dei bordi all'hover e al focus */
.items:hover::before,
.items:hover::after,
.items:focus::before,
.items:focus::after {
    width: 100%;
}

/* Stile per i link selezionati */
.items-selected {
    color: var(--color-positive-8);
    font-weight: bold;
}

/* I bordi sono sempre visibili quando il link è selezionato */
.items-selected::before,
.items-selected::after {
    width: 100%;
}

/* Disabilita gli effetti hover e focus sui link selezionati */
.items-selected:hover,
.items-selected:focus {
    color: var(--color-positive-8);
    /* Mantiene il colore selezionato */
    cursor: default;
    /* Cambia il cursore per indicare che non è cliccabile di nuovo */
    outline: none;
}

/* Assicura che i bordi non cambino all'hover/focus sui link selezionati */
.items-selected:hover::before,
.items-selected:hover::after,
.items-selected:focus::before,
.items-selected:focus::after {
    width: 100%;
    /* Mantiene la larghezza dei bordi al 100% */
}