:root {
    /* spacing */
    --spacing-zero: 0;
    --spacing-xs: clamp(4px, 2px + 0.5vw, 8px);
    --spacing-sm: clamp(8px, 4px + 1vw, 16px);
    --spacing-md: clamp(16px, 12px + 1vw, 24px);
    --spacing-lg: clamp(24px, 20px + 1vw, 32px);
    --spacing-xl: clamp(32px, 24px + 2vw, 48px);

    /* typography */
    /* --font-size-base: 1rem; */
    --font-size-hero: clamp(3.815rem, 3.573rem + 0.97vw, 4.3rem);
    --font-size-h1: clamp(2.896rem, 2.436rem + 1.838vw, 3.815rem);
    --font-size-h2: clamp(2.488rem, 2.206rem + 1.128vw, 3.052rem);
    --font-size-h3: clamp(2.074rem, 1.89rem + 0.734vw, 2.441rem);
    --font-size-h4: clamp(1.728rem, 1.616rem + 0.45vw, 1.953rem);
    --font-size-h5: clamp(1.44rem, 1.378rem + 0.246vw, 1.563rem);
    --font-size-h6: clamp(1.25rem, 1.225rem + 0.1vw, 1.3rem);
    --font-size-body: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-xs: 0.75rem;


    /* Colors */
    --hue-vibrant-yellow: 60;
    --hue-blue-gray: 220;
    --hue-trust-blue: 215;

    /* Toni neutri per lo sfondo e il testo, con una leggera sfumatura blu per professionalità */
    --color-blue-gray-0: oklch(99% 0.025 var(--hue-blue-gray));
    --color-blue-gray-1: oklch(95% 0.025 var(--hue-blue-gray));
    --color-blue-gray-2: oklch(88% 0.025 var(--hue-blue-gray));
    --color-blue-gray-3: oklch(74% 0.025 var(--hue-blue-gray));
    --color-blue-gray-4: oklch(68% 0.025 var(--hue-blue-gray));
    --color-blue-gray-5: oklch(63% 0.025 var(--hue-blue-gray));
    --color-blue-gray-6: oklch(58% 0.025 var(--hue-blue-gray));
    --color-blue-gray-7: oklch(53% 0.025 var(--hue-blue-gray));
    --color-blue-gray-8: oklch(49% 0.025 var(--hue-blue-gray));
    --color-blue-gray-9: oklch(43% 0.025 var(--hue-blue-gray));
    --color-blue-gray-10: oklch(37% 0.025 var(--hue-blue-gray));
    --color-blue-gray-11: oklch(31% 0.025 var(--hue-blue-gray));
    --color-blue-gray-12: oklch(25% 0.025 var(--hue-blue-gray));
    --color-blue-gray-13: oklch(18% 0.025 var(--hue-blue-gray));
    --color-blue-gray-14: oklch(15% 0.025 var(--hue-blue-gray));
    --color-blue-gray-15: oklch(10% 0.025 var(--hue-blue-gray));

    /* Colori d'accento che trasmettono fiducia e professionalità (Blu) */
    --color-trust-blue-0: oklch(99% 0.04 var(--hue-trust-blue));
    --color-trust-blue-1: oklch(95% 0.08 var(--hue-trust-blue));
    --color-trust-blue-2: oklch(88% 0.16 var(--hue-trust-blue));
    --color-trust-blue-3: oklch(74% 0.18 var(--hue-trust-blue));
    --color-trust-blue-4: oklch(68% 0.2 var(--hue-trust-blue));
    --color-trust-blue-5: oklch(63% 0.23 var(--hue-trust-blue));
    --color-trust-blue-6: oklch(58% 0.24 var(--hue-trust-blue));
    --color-trust-blue-7: oklch(53% 0.25 var(--hue-trust-blue));
    --color-trust-blue-8: oklch(49% 0.24 var(--hue-trust-blue));
    --color-trust-blue-9: oklch(43% 0.23 var(--hue-trust-blue));
    --color-trust-blue-10: oklch(37% 0.21 var(--hue-trust-blue));
    --color-trust-blue-11: oklch(31% 0.2 var(--hue-trust-blue));
    --color-trust-blue-12: oklch(25% 0.16 var(--hue-trust-blue));
    --color-trust-blue-13: oklch(18% 0.12 var(--hue-trust-blue));
    --color-trust-blue-14: oklch(15% 0.08 var(--hue-trust-blue));
    --color-trust-blue-15: oklch(10% 0.04 var(--hue-trust-blue));

    /* Colori d'accento (Giallo vivace) */
    --color-vibrant-yellow-0: oklch(99% 0.03 var(--hue-vibrant-yellow));
    --color-vibrant-yellow-1: oklch(95% 0.06 var(--hue-vibrant-yellow));
    --color-vibrant-yellow-2: oklch(88% 0.12 var(--hue-vibrant-yellow));
    --color-vibrant-yellow-3: oklch(74% 0.14 var(--hue-vibrant-yellow));
    --color-vibrant-yellow-4: oklch(68% 0.16 var(--hue-vibrant-yellow));
    --color-vibrant-yellow-5: oklch(63% 0.19 var(--hue-vibrant-yellow));
    --color-vibrant-yellow-6: oklch(58% 0.2 var(--hue-vibrant-yellow));
    --color-vibrant-yellow-7: oklch(53% 0.21 var(--hue-vibrant-yellow));
    --color-vibrant-yellow-8: oklch(49% 0.2 var(--hue-vibrant-yellow));
    --color-vibrant-yellow-9: oklch(43% 0.19 var(--hue-vibrant-yellow));
    --color-vibrant-yellow-10: oklch(37% 0.17 var(--hue-vibrant-yellow));
    --color-vibrant-yellow-11: oklch(31% 0.16 var(--hue-vibrant-yellow));
    --color-vibrant-yellow-12: oklch(25% 0.12 var(--hue-vibrant-yellow));
    --color-vibrant-yellow-13: oklch(18% 0.09 var(--hue-vibrant-yellow));
    --color-vibrant-yellow-14: oklch(15% 0.06 var(--hue-vibrant-yellow));
    --color-vibrant-yellow-15: oklch(10% 0.03 var(--hue-vibrant-yellow));

    /* Colori dark mode */
    --color-neutral-bcg: light-dark(var(--color-blue-gray-2), var(--color-blue-gray-12));
    --color-neutral-text: light-dark(var(--color-blue-gray-12), var(--color-blue-gray-2));

    --hue-vibrant-yellow: 60;
    --hue-blue-gray: 220;
    --hue-trust-blue: 215;
    --hue-error-red: 350;

    /* Timing */
    --timing: 1s;
    --timing-fast: calc(var(--timing) * 0.15);
    --timing-slow: calc(var(--timing) * 2);

    @media (prefers-reduced-motion: reduce) {
        --timing: 0s;
    }
}