.list-items {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: var(--spacing-zero);
    margin: var(--spacing-zero);
    gap: var(--spacing-xs);
}

/* Stili aggiuntivi per i link all'interno della navbar */
.list-items li {
    padding: var(--spacing-sm) var(--spacing-zero);
    /* Aggiunge padding per dare respiro ai link */
}